.toastui-editor-toolbar {
    display: none;
}

.toastui-editor-defaultUI .ProseMirror {
    padding: 0;
    caret-color: #ff0000; /* 红色光标 */
}

.toastui-editor-ww-container {

}

.toastui-editor-contents {
    font-size: 1.1rem; /* 设置默认字体大小 */
    max-height: 100px;
}

.toastui-editor-main-container img {
    width: 1.8rem;
    height: 1.8rem;
}

.ProseMirror .toastui-editor-contents p {
    display: inline;
}