/* 气泡框(胶囊)样式 */
.bubbleBar {
    width: 100%;
    /*position: absolute;*/
    /*bottom: var(--toolbar-height, 60px);*/
}

.bubble {
    height: var(--bubble-bar--height);
    display: flex;
    list-style-type: none;
    overflow-x: auto; /* 添加水平滚动条 */
    overflow-y: hidden; /* 去除垂直滚动条 */
    white-space: nowrap; /* 防止内容换行 */
    padding-left: 2px;
    padding-bottom: 2px;

}

/* 针对Webkit浏览器隐藏滚动条 */
.bubble::-webkit-scrollbar {
    display: none;
}

/* 气泡框(胶囊)滚动条样式 */
/*.bubble::-webkit-scrollbar { !*滚动条整体样式*!
    width: 3px; !*高宽分别对应横竖滚动条的尺寸*!
    height: 3px;
    position: relative;
}

.bubble::-webkit-scrollbar-thumb { !*滚动条里面小方块*!
    border-radius: 10px;
    !*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,1);*!
    background: var(--icon-basic-color-tone);
}

.bubble::-webkit-scrollbar-track { !*滚动条里面轨道*!
    border-radius: 10px;
    background: var(--icon-basic-color-tone);
}*/

.bubble li {
    background-color: var(--basic-color-tone);
    color: var(--icon-basic-color-tone);
    padding: 3px 3px;
    margin: 0 2px;
    border-radius: 50px;
}