:root {
    --emoji-card-columns: 8
}

.emojiUnit {
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: #C4E1C5;

    display: flex;
    flex-direction: column;
}

/* 表情包分组选项卡 */
.emojiTab {
    height: 36px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    column-gap: 10px;
    align-items: center;
    justify-items: center;
    padding: 0 10px;
    margin: 0 0 5px 0;
    background-color: var(--basic-color-tone);
}

.emojiTab-item {
    width: 32px;
    height: 32px;
    border-radius: 5px;
}

.emojiTab-item:active {
    background-color: #FFFFFF;
}

.emojiContent {
    flex: 1;
    overflow-y: auto;
    position: relative
}

/* 针对Webkit浏览器隐藏滚动条 */
.emojiContent::-webkit-scrollbar {
    display: none;
}

.emojiBody {
    /* 响应式布局 */
    display: grid;
    grid-template-columns: repeat(var(--emoji-card-columns, 8), 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
    padding: 0 10px 8px 10px;
    margin-bottom: 60px;
}

.emojiBody-backspace {
    position: fixed;
    width: 60px;
    height: 40px;
    background-color: #FFFFFF;
    background-image: url("/src/application/close_v1.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 3px;
    right: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px 30px #C4E1C5; /* 四周阴影  inset向内扩散 */
    /*pointer-events: none;*/
}

.emojiBody img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.emojiBody img:hover {
    background-color: #F2F2F2;
    border-radius: 5px;
}