.topicBar {
    background: var(--basic-color-tone);
    width: 100%;
    height: var(--topicBar-height);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: var(--topicbar-padding-top) var(--topicbar-padding-left);
    /*position: absolute;*/
    /* 内部元素垂直居中 */
    display: flex;
    align-items: center;
}

.topicLogo {
    width: calc(var(--topicBar-height) - var(--topicbar-padding-top) * 2);
    height: calc(var(--topicBar-height) - var(--topicbar-padding-top) * 2);
    color: #000000;
}

.topicTitle {
    padding-left: var(--topicbar-padding-left);
    color: var(--icon-basic-color-tone);
    font-size: 20px;
    font-weight: bold;
}